@import url('satoshi.css');
@import "tailwindcss";


:root {
  --necta-kova-100: #fff3c6;
  --necta-kova-200: #ffe37d;
  --necta-kova-500: #f99b07;
  --necta-gray: #f5f5f8;
  --necta-gray-450: #c0becd;
  --necta-cod: #0a0701;
  --necta-brown-950: #3b2c13;
  --necta-brown-900: #5f4b24;
  --necta-brown-700: #836f25;
  --necta-green: #63e695;
}

/* body {
  margin: 0;
  background: #0a0a0a;
  color: white;
  font-family: "Satoshi", ui-sans-serif, system-ui, sans-serif;
} */


@layer utilities {
  .font-kode {
    font-family: 'Kode Mono', ui-monospace, monospace;
  }
}